.header {
  background-color: #c6ebbe;
  border: 20px 20px solid #4f258d;
  border-radius: 40px;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* margin: 2% 45px; */
  width: 78vw;
  position: fixed;
  z-index: 1;
  left: 10vw;
  top: 10px;
  margin-bottom: 2%;
}

.headerScroll {
  position: fixed;
  z-index: 1;
  width: 80vw;
  left: 10vw;
}
.h {
  background-color: transparent;
  color: inherit;
  flex-direction: inherit;
  display: flex;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  align-items: center;
  margin-right: 0px;
  float: right;
}
.chartIcon {
  position: relative;
}
.chartIcon > .counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #451d1d52;
}
.logout {
}
.onScrollHeader {
}

@media screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.me-auto {
  display: flex;
  align-items: center;
}

.smMenu {
  width: fit-content;
  left: 100%;
  position: relative;
  transform: translateX(-100%);
}
